<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hengtiansoft.fastop.model.designer.dto.FunctionSuiteMapper">
  <resultMap id="BaseResultMap" type="com.hengtiansoft.fastop.model.designer.entity.FunctionSuite">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="test_fun_id" jdbcType="INTEGER" property="testFunId" />
    <result column="fun_num" jdbcType="INTEGER" property="funNum" />
    <result column="fun_version" jdbcType="INTEGER" property="funVersion" />
    <result column="fun_order" jdbcType="INTEGER" property="funOrder" />
    <result column="depends_on" jdbcType="VARCHAR" property="dependsOn" />
    <result column="suite_id" jdbcType="INTEGER" property="suiteId" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, test_fun_id, fun_num, fun_version, fun_order, depends_on, suite_id, deleted, 
    created_at, updated_at, created_by, updated_by
  </sql>
  <select id="selectByExample" parameterType="com.hengtiansoft.fastop.model.designer.entity.FunctionSuiteExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from function_suite
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from function_suite
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from function_suite
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hengtiansoft.fastop.model.designer.entity.FunctionSuiteExample">
    delete from function_suite
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hengtiansoft.fastop.model.designer.entity.FunctionSuite">
    insert into function_suite (id, test_fun_id, fun_num, 
      fun_version, fun_order, depends_on, 
      suite_id, deleted, created_at, 
      updated_at, created_by, updated_by
      )
    values (#{id,jdbcType=INTEGER}, #{testFunId,jdbcType=INTEGER}, #{funNum,jdbcType=INTEGER}, 
      #{funVersion,jdbcType=INTEGER}, #{funOrder,jdbcType=INTEGER}, #{dependsOn,jdbcType=VARCHAR}, 
      #{suiteId,jdbcType=INTEGER}, #{deleted,jdbcType=BIT}, #{createdAt,jdbcType=TIMESTAMP}, 
      #{updatedAt,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=VARCHAR}, #{updatedBy,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hengtiansoft.fastop.model.designer.entity.FunctionSuite">
    insert into function_suite
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="testFunId != null">
        test_fun_id,
      </if>
      <if test="funNum != null">
        fun_num,
      </if>
      <if test="funVersion != null">
        fun_version,
      </if>
      <if test="funOrder != null">
        fun_order,
      </if>
      <if test="dependsOn != null">
        depends_on,
      </if>
      <if test="suiteId != null">
        suite_id,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="updatedBy != null">
        updated_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="testFunId != null">
        #{testFunId,jdbcType=INTEGER},
      </if>
      <if test="funNum != null">
        #{funNum,jdbcType=INTEGER},
      </if>
      <if test="funVersion != null">
        #{funVersion,jdbcType=INTEGER},
      </if>
      <if test="funOrder != null">
        #{funOrder,jdbcType=INTEGER},
      </if>
      <if test="dependsOn != null">
        #{dependsOn,jdbcType=VARCHAR},
      </if>
      <if test="suiteId != null">
        #{suiteId,jdbcType=INTEGER},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=BIT},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hengtiansoft.fastop.model.designer.entity.FunctionSuiteExample" resultType="java.lang.Long">
    select count(*) from function_suite
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update function_suite
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.testFunId != null">
        test_fun_id = #{record.testFunId,jdbcType=INTEGER},
      </if>
      <if test="record.funNum != null">
        fun_num = #{record.funNum,jdbcType=INTEGER},
      </if>
      <if test="record.funVersion != null">
        fun_version = #{record.funVersion,jdbcType=INTEGER},
      </if>
      <if test="record.funOrder != null">
        fun_order = #{record.funOrder,jdbcType=INTEGER},
      </if>
      <if test="record.dependsOn != null">
        depends_on = #{record.dependsOn,jdbcType=VARCHAR},
      </if>
      <if test="record.suiteId != null">
        suite_id = #{record.suiteId,jdbcType=INTEGER},
      </if>
      <if test="record.deleted != null">
        deleted = #{record.deleted,jdbcType=BIT},
      </if>
      <if test="record.createdAt != null">
        created_at = #{record.createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatedAt != null">
        updated_at = #{record.updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createdBy != null">
        created_by = #{record.createdBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updatedBy != null">
        updated_by = #{record.updatedBy,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update function_suite
    set id = #{record.id,jdbcType=INTEGER},
      test_fun_id = #{record.testFunId,jdbcType=INTEGER},
      fun_num = #{record.funNum,jdbcType=INTEGER},
      fun_version = #{record.funVersion,jdbcType=INTEGER},
      fun_order = #{record.funOrder,jdbcType=INTEGER},
      depends_on = #{record.dependsOn,jdbcType=VARCHAR},
      suite_id = #{record.suiteId,jdbcType=INTEGER},
      deleted = #{record.deleted,jdbcType=BIT},
      created_at = #{record.createdAt,jdbcType=TIMESTAMP},
      updated_at = #{record.updatedAt,jdbcType=TIMESTAMP},
      created_by = #{record.createdBy,jdbcType=VARCHAR},
      updated_by = #{record.updatedBy,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hengtiansoft.fastop.model.designer.entity.FunctionSuite">
    update function_suite
    <set>
      <if test="testFunId != null">
        test_fun_id = #{testFunId,jdbcType=INTEGER},
      </if>
      <if test="funNum != null">
        fun_num = #{funNum,jdbcType=INTEGER},
      </if>
      <if test="funVersion != null">
        fun_version = #{funVersion,jdbcType=INTEGER},
      </if>
      <if test="funOrder != null">
        fun_order = #{funOrder,jdbcType=INTEGER},
      </if>
      <if test="dependsOn != null">
        depends_on = #{dependsOn,jdbcType=VARCHAR},
      </if>
      <if test="suiteId != null">
        suite_id = #{suiteId,jdbcType=INTEGER},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=BIT},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hengtiansoft.fastop.model.designer.entity.FunctionSuite">
    update function_suite
    set test_fun_id = #{testFunId,jdbcType=INTEGER},
      fun_num = #{funNum,jdbcType=INTEGER},
      fun_version = #{funVersion,jdbcType=INTEGER},
      fun_order = #{funOrder,jdbcType=INTEGER},
      depends_on = #{dependsOn,jdbcType=VARCHAR},
      suite_id = #{suiteId,jdbcType=INTEGER},
      deleted = #{deleted,jdbcType=BIT},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=VARCHAR},
      updated_by = #{updatedBy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>