name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
    paths:
      - 'fastop/**'
      - '.github/workflows/**'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'fastop/**'
      - '.github/workflows/**'

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./fastop

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven
        
        cache-dependency-path: './fastop/**/pom.xml'

    - name: Build with Maven
      run: mvn -B package -DskipTests
